{% extends 'accounts/main.html' %}

{% block content %}
    <h1>CUSTOMER</h1>

    <h3>Customer:</h3>
    <button>Update Customer</button>
    <button>Delete Customer</button>
    <hr>
    <h3>Contact:</h3>
    <h4>Email:</h4>
    <h4>Phone number:</h4>
    <hr>
    <h3>Total orders</h3>
    <hr>
    <h3>Search button here</h3>
    <hr>
    <h3>Orders table</h3>
    <h4>Product</h4>
    <h4>Category</h4>
    <h4>Date ordered</h4>
    <h4>Status</h4>
    <h4>Update</h4>
    <h4>Remove</h4>
{% endblock %}