{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

    <h1>DASHBOARD</h1>
    <hr>

    <div class="card width-2">
        <div class="card-title-1">Customers</div>
        <button>Create customer</button><br>
        <div class="card-topic">Customer</div>
        <div class="card-topic">Orders</div>
    </div>

    <div class="card width-2">
        <div class="card-title-1">Last 5 orders</div>
        <button>Create order</button><br>
        <div class="card-topic">Product</div>
        <div class="card-topic">Date ordered</div>
        <div class="card-topic">Status</div>
        <div class="card-topic">Update</div>
        <div class="card-topic">Delete</div>
    </div>

{% endblock %}