{% extends 'accounts/main.html' %} {% block content %} {% include 'accounts/status.html' %}

<h1>DASHBOARD</h1>
<hr />

<div class="flex-dashboard">
  <div class="flex-item">
    <div class="card-title-1">Clientes</div>
    <div class="big-table">
      <table>
        <tr>
          <th></th>
          <th class="card-topic">Cliente</th>
          <th class="card-topic">Pedido</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
          <td><a href="{% url 'cliente' cliente.id %}">Visitar</a></td>
          <td>{{cliente.nome}}</td>
          <td>{{cliente.telefone}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="flex-item">
    <div class="card-title-1">Last 5 orders</div>
    <div class="big-table">
      <table>
        <tr>
          <th class="card-topic">Product</th>
          <th class="card-topic">Date ordered</th>
          <th class="card-topic">Status</th>
          <th class="card-topic">Update</th>
          <th class="card-topic">Delete</th>
        </tr>
        {% for pedido in pedidos %}
        <tr>
          <td>Resumo do pedido</td>
          <td>{{pedido.data_criado}}</td>
          <td>{{pedido.status}}</td>
          <td>
            <a href=""><button class="btn update">Atualizar</button></a>
          </td>
          <td>
            <a href=""><button class="btn delete">Deletar</button></a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<div class="botoes">
  <button class="btn create">Create customer</button>
  <button class="btn create">Create order</button>
</div>

{% endblock %}
