{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="{% static '/images/favicon.png' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/reset.css' %}"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style2.css' %}"
    />
    <!-- Link abaixo para fontes Parisienne e Merienda usadas no estilo -->
    <link
      href="https://fonts.googleapis.com/css?family=Parisienne|Merienda"
      rel="stylesheet"
    />
    <title>KIWI PIZZA</title>
  </head>
  <body>
    {% include 'accounts/navbar.html' %}
    <div class="content">{% block content %}{% endblock %}</div>
    <hr />

    <h5>FOOTER</h5>
  </body>
  <script src="{% static '/js/navbar.js' %}"></script>
</html>
