{% extends 'accounts/main.html' %} {% block content %}
<!-- <div class="card width-all">
  <div class="card-title-1">PRODUCTS</div>

  <div class="card-topic">pizza</div>
  <div class="card-topic">categoria</div>
  <div class="card-topic">preco</div>
</div> -->

<div class="card">
  <div class="card-title-1">PRODUCTS</div>
  <div class="flex-dashboard">
    <div class="flex-item"><div class="card-topic">pizza</div></div>
    <div class="flex-item"><div class="card-topic">categoria</div></div>
    <div class="flex-item"><div class="card-topic">preco</div></div>
  </div>
</div>
{% endblock %}
